@using Microsoft.AspNetCore.Components.Authorization
@using Zonit.Extensions

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@Types()">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<ZonitCookiesExtension />
<ZonitIdentityExtension />
<ZonitCultureExtension />