@using Zonit.Extensions.Organizations

@implements IDisposable

@inject IWorkspaceProvider Workspace
@inject IWorkspaceManager WorkspaceManager

@inject ICultureProvider Culture
@inject NavigationManager NavigationManager

@if(Workspace.Organization is not null)
{

@*     <MudAvatar Color="Color.Surface" Rounded="true" Size="Size.Small">
        @Workspace.Organization.Name[0]
    </MudAvatar> *@

    <MudTooltip Text="@Culture.Translate("Change organizations")" Arrow="true" Placement="Placement.Top" RootStyle="width: 100%;">
        <MudButton Variant="Variant.Text" FullWidth=true OnClick="OpenDrawer">@Workspace.Organization.Name</MudButton>
    </MudTooltip>

    <MudDivider Class="my-2" />

    <MudDrawer @bind-Open="@open" Width="300px" Height="100%" Anchor="Anchor.End" Elevation="3" Variant="@DrawerVariant.Temporary"  Class="z-index: 99999999">
        <MudDrawerHeader>
            <div Class="d-flex align-center justify-space-between flex-grow-1 gap-4">
                <MudText Typo="Typo.h6">@Culture.Translate("Organizations")</MudText>
                <MudIconButton OnClick="@(() => OpenDrawer())"
                               Icon=@Icons.Material.Filled.Close
                               aria-label="@Culture.Translate("Close")" />
            </div>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudPaper Elevation="0" Class="px-6 py-2">
                <MudText Align="Align.Center" Class="mb-3">
                    <MudAvatar Color="Color.Surface" Rounded="true" Style="height:90px; width:90px; font-size:2rem;">
                        @Workspace.Organization.Name[0]
                    </MudAvatar>
                </MudText>
                <MudText Align="Align.Center" Class="my-3" Typo="Typo.body1">
                    @Workspace.Organization.Name
                </MudText>

                <MudDivider Class="my-4" />          
                @if (WorkspaceManager.Organizations is not null)
                {
                    <MudText Typo="Typo.body1">@Culture.Translate("Your organizations")</MudText>
                    <MudList T=Guid @bind-SelectedValue=selectedOrganization>
                        @foreach (var organization in WorkspaceManager.Organizations)
                        {
                            <MudListItem Value="@organization.Id" Text="@organization.Name" OnClick="(async () => await SwitchAsync(organization.Id))"/>
                        }
                    </MudList>
                }
                <MudDivider Class="my-2" />
                <MudButton FullWidth="true" OnClick="GoToManage">@Culture.Translate("Manage organizations")</MudButton>
            </MudPaper>
        </MudNavMenu>
    </MudDrawer>
}

@code{
    bool open;
    Guid selectedOrganization;

    protected override void OnInitialized()
    {
        Culture.OnChange += StateHasChanged;
        Workspace.OnChange += StateHasChanged;

        if(Workspace.Organization is not null)
            selectedOrganization = Workspace.Organization.Id;
    }

    public void Dispose()
    {
        Culture.OnChange -= StateHasChanged;
        Workspace.OnChange -= StateHasChanged;
    }

    void OpenDrawer()
        => open = !open;

    void GoToManage()
    {
        open = false;
        NavigationManager.NavigateTo("Organizations");
    }

    public async Task SwitchAsync(Guid organizationId)
    {
        await WorkspaceManager.SwitchOrganizationAsync(organizationId);
    }
}